{% block dealer_listing %}
    <sw-page class="dealer-listing">
        <template #content>
            <sw-card>
                <h2>Dealer listing</h2>
                <sw-entity-listing
                        v-if="dealers"
                        ref="yireoExampleDealersAdministration"
                        class="dealer-listing-grid"
                        :repository="dealerRepository"
                        :items="dealers"
                        :columns="getGridColumns()"
                        :fullPage="false"
                        :isLoading="isLoading"
                        detailRoute="swag.training.dealers.form"
                >
                    <template #actions="{ item }">

                        <sw-context-menu-item class="dealer-listing__dealer-edit-action"
                                              :routerLink="{ name: 'swag.training.dealers.form', params: { id: item.id } }">
                            {{ $tc('dealers.listing.contextMenuEdit') }}
                        </sw-context-menu-item>
                    </template>
                </sw-entity-listing>
            </sw-card>
        </template>
    </sw-page>
{% endblock %}
